@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Bebas+Neue&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: #1d2021;
  width: 100%;
  color: white;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer main";
  grid-template-rows: 10rem 1fr auto;
  grid-template-columns: 15rem 1fr;
  font-size: 16px;
  height: 100vh;
}
.title {
  display: flex;
  justify-content: space-around !important;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
label {
  font-size: 1rem;
  line-height: 0.2px;
  color: #eeeeee;
}
#selector {
  background-color: rgb(48, 0, 94) !important;
  color: #eeeeee;
  width: 90%;
  text-align: center;
  height: 3rem;
  border-radius: 6px;
}
h1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596);
  font-size: 3rem;
  transition: font-size 0.4s ease-in-out;
  margin: 1rem 0;
}
h2 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596);
  font-size: 2rem;
  transition: font-size 0.4s ease-in-out;
  margin: 0;
}
header {
  font-family: "Bebas Neue";
  border-bottom: 1px solid rgb(0, 0, 0);
  grid-area: header;
  background-image: url("../img/banner.jpeg");
  background-position: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(234, 234, 234, 0.3);
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
aside i {
  font-size: 2rem;
}
aside img {
  transform: rotate(10deg);
  height: 5rem;
  filter: drop-shadow(8px 5px 0px rgb(255, 255, 255));
}
aside {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  grid-area: sidebar;
  text-align: center;
  margin: 0 auto;
  border-right: 1px solid rgba(92, 92, 92, 0.5);
  background-color: rgb(10, 0, 27);
  border: 1px solid rgba(234, 234, 234, 0.3);
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  gap: 1rem;
}
aside a:hover {
  transition: border-right 0.1s ease-in-out;
  border-right: 5px solid rgba(187, 2, 162, 0.9);
  background-color: rgb(31, 0, 80);
  font-weight: 700;
}
aside a:active {
  border-right: 10px solid rgba(187, 2, 162, 0.9);
}
aside a {
  border-right: 0px solid rgba(187, 2, 162, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  transition: background-color, border-left 0.3s ease-in-out;
  color: white;
  text-decoration: none;
}
footer {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(9, 0, 51);
  border-top: 1px solid rgba(255, 255, 255, 0.37);
  grid-area: footer;
  text-align: center;
  min-height: 8rem;
  flex-direction: column;
  padding: 1rem;
}
footer > div {
  cursor: pointer;
}
footer a:hover {
  transition: border-bottom 0.1s ease-in-out;
  border-bottom: 5px solid rgba(187, 2, 162, 0.9);
  background-color: rgb(31, 0, 80);
  font-weight: 700;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin: 0.5rem 0;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  height: 100%;
}
#items {
  grid-area: alfa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
}
.pages {
  grid-area: beta;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #360041;
  height: auto;
}
.pages a:hover {
  color: #b904de;
}
.card {
  position: relative;
  padding: 1rem;
  height: 500px;
  background: linear-gradient(
    160deg,
    rgb(46, 0, 131),
    rgba(30, 0, 58, 0.911),
    rgba(10, 10, 10, 0.911)
  );
  border: 4px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  border: 4px solid rgba(167, 0, 130, 0.9);
  background: linear-gradient(160deg, rgb(127, 0, 131), rgb(83, 0, 131));
  transform: scale(1.02);
  transition: transform 0.15s ease-in-out;
}
.card-marco {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(184, 110, 0, 0.575);
  border-radius: 10px;
  background-image: url("../img/sc.jpg");
  background-position: center;
  opacity: 80%;
  height: 240px;
}
.card-photo {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width: 285px;
  max-width: 285px;
}
.card-image {
  position: relative;
  width: 100%;
  height: 70%;
}
.card-photo img {
  transition: transform 0.3s ease-in-out;
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
  width: 105%;
  height: auto;
}
.card-photo img:hover {
  transform: scale(1.15) rotate(12deg);
  transition: transform 0.15s ease-in-out;
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
}
.card-contenido {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
  gap: 0.6rem;
}
.card-contenido h3 {
  font-family: poppins, serif;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  margin: 0;
  width: 100%;
}
.card-contenido p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}
span {
  filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 27);
}
.button {
  padding: 1rem 0.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(125, 0, 184);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  min-width: 2rem;
  transition: font-weight, background-color 0.1s ease-in-out;
}
button:hover {
  background-color: rgb(255, 0, 144);
  filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
  transition: filter 0.1s ease-in-out;
}
@media (max-width: 576px) {
  body {
    grid-template-areas:
      "sidebar"
      "header"
      "main"
      "footer";
    grid-template-rows: auto 8rem 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  main {
    grid-area: main;
    overflow-y: auto;
    height: 100%;
  }
  i {
    cursor: pointer;
  }
  h1:hover,
  .logo:hover {
    scale: 1.2;
    transition: scale 0.3s ease-in-out;
  }
  header {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    transition: background-position 0.3s ease-in-out;
  }
  .title {
    justify-content: space-around !important;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    gap: 2rem;
  }
  aside {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #360041;
  }
  aside img {
    height: 3rem;
  }
  .menu {
    display: none;
  }
  h1 {
    transition: font-size 0.4s ease-in-out;
    font-size: 1.8em;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  body {
    grid-template-areas:
      "sidebar sidebar"
      "header main"
      "footer footer";
    grid-template-rows: 10rem 1fr auto;
    grid-template-columns: 20% 80%;
    height: 100vh;
  }
  main {
    grid-area: main;
    overflow-y: auto;
    height: 100%;
  }
  header {
    padding-top: 2rem;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    height: auto;
    background-image: url("../img/hd.png");
    background-position: left center;
    background-size: contain;
    background-attachment: fixed;
    border: 1px solid rgba(209, 209, 209, 0.2);
    transition: background-position 0.3s ease-in-out;
  }
  aside {
    width: 100%;
  }
  aside img {
    height: 3rem;
  }
  aside i {
    display: none !important;
  }
  .menu {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 993px) {
  header {
    transition: background-position 0.3s ease-in-out;
  }
  aside i {
    display: none !important;
  }
}
#items {
  scrollbar-width: 0.5rem;
  scrollbar-color: #b904de #08002e;
}